@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div>
    @{ 
        foreach(var p in Model.Products)
        {
            <p>
                @p.Name - @p.Description - @p.Value
            </p>
        }
    }
</div>