@page
@model IndexModel
@{
}

<div id="app" class="container">
    <div class="columns">
        <div class="column is-3">
            <div class="menu">
                <p class="menu-label">
                    Admin Menu
                </p>
                <ul class="menu-list">
                    <li><a>Products</a></li>
                    <li><a>Orders</a></li>
                    <li><a>Stock</a></li>
                </ul>
            </div>
        </div>
        <div class="column is-9">
            <product-manager></product-manager>
        </div>
    </div>
</div>

@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="~/js/admin/product-component.js"></script>
    <script src="~/js/admin/main.js"></script>
}
