@page
@model IndexModel
@{
}

<div id="app">
    <input type="number" @@change ="alert('hello')" v-model="price" />
    <button v-on:click="togglePrice">Toggle</button>
    <p v-show="showPrice">
        {{price}}
    </p>
    <p v-if="showPrice">
        {{formatPrice}}
    </p>

</div>

@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="~/js/admin/main.js"></script>
}
