@page
@model IndexModel
@{
}

<div id="app">
    <input type="number" @@change="alert('hello')" v-model="price" />
    <button v-on:click="togglePrice">Toggle</button>
    <button v-on:click="getProducts">Get Products</button>
    <p v-show="showPrice">
        {{price}}
    </p>
    <p v-if="showPrice">
        {{formatPrice}}
    </p>
    <div>
        <p v-for="product in products">
            {{product.id}} - {{product.name}} - {{product.description}}
        </p>
    </div>
    <div>
        <input v-model="productModel.name" />
        <input v-model="productModel.description" />
        <input v-model="productModel.value" />
        <button @@click="createProduct">Create Product</button>
    </div>
</div>

@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="~/js/admin/main.js"></script>
}
